extends _layout

block vars
  include ../config
  - var key = "password_reset/new"
  - var page = pages[key]

block content
  main
    include _cover_image
    .right-wrapper
      .auth-section.uk-width-5-6
        h3(class="uk-card-title") 新規パスワード設定
        p.uk-text-small.uk-text-muted
          | 新しくパスワードを設定してください。
        form(action=`/auth/password_reset/${username}/${token}` method="post")
          .uk-margin
            label(for="email" class="uk-form-label") パスワード
              .uk-form-controls
                input(type="password" name="password" class="uk-input" value="")
                - if (errorObject)
                  span.error-text.uk-text-danger
                    small= errorObject.errorMessage.passwordInvalid
          .uk-margin.submit
            button(type="submit" class="uk-button uk-button-primary uk-width-1-1") パスワードを設定
