extends _layout

block vars
  include ../config
  - var key = "password_reset"
  - var page = pages[key]

block content
  main
    .wrapper
      .auth-section(class="uk-width-3-5@s uk-width-2-5@m uk-width-1-3@l uk-width-1-4@xl uk-padding")
        .auth-header
          h1.site-logo(class="uk-text-center") #{site_title}
          p.page-title(class="uk-text-center") #{page.title}
          p.auth-text-light-grey
            | 登録しているメールアドレスを入力してください。
            | パスワード変更ページのURLが記載されたメールを送信します。
        .auth-body
          form(action="/auth/password_reset" method="post")
            .uk-margin-medium
              label.form-label(for="email" class="uk-form-label") メールアドレス
                .uk-form-controls
                  input(type="text" name="email" class="uk-input" value=inputObject ? inputObject.email : "")
                  - if (errorObject)
                    span.error-text.uk-text-danger
                      span= errorObject.errorMessage.emailInvalid
            .uk-margin-medium.submit.uk-text-center
              button(type="submit" class="uk-button uk-width-2-3") Submit
        .auth-footer
          hr
          p(class="uk-text-small uk-text-center")
            span.uk-text-muted
            | ログインへ
            span
              a(href="/auth/signin") 戻る
