extends _layout

block vars
  include ../config
  - var key = "password_reset_complete"
  - var page = pages[key]

block content
  main
    include _cover_image
    .right-wrapper
      .auth-section.uk-width-5-6
        h3(class="uk-card-title") メール送信完了
        p.uk-text-small.uk-text-muted
          | パスワード再設定用のURLを記載したメールをお送りしました。
          | 内容に従って、新しいパスワードを設定してください。
          | しばらくしてもメールが届かない場合は、迷惑メールフォルダをご確認ください。