extends _layout

block vars
  include ../config
  - var key = "password_reset"
  - var page = pages[key]

block content
  main
    include _cover_image
    .right-wrapper
      .auth-section.uk-width-5-6
        h3(class="uk-card-title") パスワードを忘れた場合
        p.uk-text-small.uk-text-muted
          | 登録しているメールアドレスを入力してください。
          | パスワード変更ページのURLが記載されたメールを送信します。
        form(action="/auth/password_reset" method="post")
          .uk-margin
            label(for="email" class="uk-form-label") メールアドレス
              .uk-form-controls
                input(type="text" name="email" class="uk-input" value=inputObject ? inputObject.email : "")
                - if (errorObject)
                  span.error-text.uk-text-danger
                    small= errorObject.errorMessage.emailInvalid
          .uk-margin.submit
            button(type="submit" class="uk-button uk-button-primary uk-width-1-1") 送信
        p.uk-text-small.uk-text-center
          span.uk-text-muted
            | ログインへ
          span
            a(href="/auth/signin") 戻る
