extends _layout

block vars
  include ../config
  - var key = "signin"
  - var page = pages[key]

block content
  main
    .wrapper
      .auth-section(class="uk-width-3-5@s uk-width-2-5@m uk-width-1-3@l uk-width-1-4@xl uk-padding")
        .auth-header
          h1.site-logo(class="uk-text-center") #{site_title}
          p.page-title(class="uk-text-center") #{page.title}
        .auth-body
          form(action="/auth/signin" method="post")
            .uk-margin-medium
              label.form-label(for="email" class="uk-form-label") #{__("Email")}
                .uk-form-controls
                  input(type="text" name="email" class="uk-input")
            .uk-margin-medium
              label.form-label(for="password" class="uk-form-label") パスワード
                .uk-form-controls
                  input(type="password" name="password" class="uk-input")
            .uk-margin-medium.submit.uk-text-center
              button(type="submit" class="uk-button uk-width-2-3") Sign in
        .auth-footer
          p(class="uk-text-small uk-text-center")
            span(class="uk-text-muted")
              | パスワードを忘れた場合は
            span
              a(href="/auth/password_reset") こちら
          hr
          p(class="uk-text-small uk-text-center")
            span(class="uk-text-muted")
              | アカウントをお持ちでない方 
            span
              a(href="/auth/signup") アカウント作成
