@charset "utf-8";

@import "const";

main {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: $color_dark_grey;
}

.auth-section {
  @include center;
  display: none;
}

.auth-header {

  margin-bottom: 36px;

  h1.site-logo {
    color: $color_light_grey;
    margin: 0;
    font-weight: 100;
    letter-spacing: 2px;
  }

  p.page-title {
    color: $color_grey_sub;
    margin: 0;
    font-weight: 200;
    font-size: 24px;
    letter-spacing: 1px;
  }
}

.auth-body {
  .form-label {
    color: $color_light_grey;
  }

  input {
    background: $color_input_bg;
    border: none;
    color: $color_light_grey;
    padding: 0 20px;
    font-size: 16px;
  }

  input:focus {
    background-color: $color_input_bg;
    color: $color_light_grey;
  }

  .submit {
    margin-top: 36px;
  }

  button[type=submit] {
    background: $color_matt_yellow;
    color: $color_white;
    margin: 0 auto;
    text-transform: none;
    font-size: 16px;
    transition: 0.2s;
  }

  button[type=submit]:hover {
    opacity: 0.8;
  }
}

.auth-footer {
  hr {
    border-color: $color_grey;
  }
}

a {
  text-decoration: none;
  color: $color_matt_blue;
}

a:hover {
  color: $color_matt_blue;
}

form {
  input[type=text],
  input[type=password],
  button[type=submit] {
    border-radius: 24px;
  }
}

.auth-text-light-grey {
  color: $color_light_grey;
}

.auth-text-grey {
  color: $color_grey_sub;
}