@charset "utf-8";
@import "const";

// Define
$radius24: 24px;
$radius8: 8px;

* {
  font-family: $base_font;
}

body {
  display: none;
}


.l_contents {
  display: flex;
}

// Sidebar
aside {
  width: 280px;
  height: 100vh;
  background: $color_grey;

  .sidebar-logo {
    width: 100%;
    height: 80px;
    position: relative;

    a {
      font-size: 36px;
      color: $color_light_grey;
      text-align: center;
      font-weight: 200;
      text-decoration: none;
      transition: 0.2s;
      @include center;
    }
    a:hover {
      opacity: 0.8;
    }
  }

  .sidebar-nav {
    width: 100%;
    height: auto;
    margin-top: 48px;

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        height: 40px;
        padding: 0 16px 0 40px;
        display: flex;
        align-items: center;

        a {
          color: $color_light_grey;
          display: block;
          width: 100%;
          font-weight: 200;
        }
      }

      li.active {
        background: $color_matt_red;

        a.active {
          color: $color_white;
          text-decoration: none;
        }
      }
    }
  }
}

// main
main {
  width: calc( 100vw - 200px );
  height: 100vh;
  background: $color_dark_grey;
}

header {
  height: 80px;
  background: $color_dark_grey;
  padding: 0 48px;
  display: flex;

  // header item
  .header-right-item {
    margin: 0 16px;
    display: flex;
    align-items: center;
  }

  // header button
  .header-button-action {
    display: flex;
    align-items: center;
  }

  // button
  button.button-code {
    @include button_yellow;
    display: flex;
    align-items: center;
  }

  button.button-code:hover {
    @include button_yellow_hover;
  }

  button.button-code .code-icon {
    margin-right: 4px;
  }

  .header-search-form {
    width: 240px;
  }

  .search-icon {
    color: $color_grey_sub !important;
  }

  .search-input {
    background: #4a4e53 !important;
    border: 1px solid $color_grey !important;
    border-radius: $radius24;
    color: $color_light_grey;
  }
  .search-input::placeholder {
    color: $color_grey_sub;
  }
  .search-input::-ms-input-placeholder {
    color: $color_grey_sub;
  }

  .user-icon {
    color: $color_light_grey;
  }

  .user-dropdown {
    background: $color_grey;
    border-radius: $radius8;

    .uk-nav-divider {
      border-top: 1px solid #6C7783;
    }

    a.link-normal:hover {
      color: $color_light_grey;
      opacity: 0.7;
    }

    a.link-signout {
      color: #EA5C5C;
    }

    a.link-signout:hover {
      color: #EA5C5C;
      opacity: 0.7;
    }
  }
}

// Contents Section
section.contents {
  width: 100%;
  height: calc( 100vh - 140px );
  padding: 40px;
  box-sizing: border-box;

  h1.page-title {
    font-family: $base_font;
    color: $color_light_grey;
    font-weight: 400;
    margin: 0;
  }

  p.page-description {
    color: #79797A;
  }
}

footer {
  height: 60px;

  .copyright {
    margin: 0;
  }
}