
// Define
$button_radius: 24px;

header {
  height: 80px;
  background: #fff;
  padding: 0 64px;
  display: flex;

  .header-logo a:hover {
    text-decoration: none;
  }

  // header item
  .header-right-item {
    margin: 0 8px;
    display: flex;
    align-items: center;
  }

  // header button
  .header-button-action {
    display: flex;
    align-items: center;
  }

  // button
  button.button-code {
    border-radius: $button_radius;
  }

  // search form
  form.search-form {
    position: relative;
  }

  // search icon
  form.search-form .search-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
  }

  // search input
  form.search-form input {
    border-radius: $button_radius;
    text-indent: 24px;
  }
}

h1 {
  margin: 0;
}
