
// Define
$radius24: 24px;

header {
  height: 80px;
  background: #fff;
  padding: 0 64px;
  display: flex;

  .header-logo a:hover {
    text-decoration: none;
  }

  // header item
  .header-right-item {
    margin: 0 16px;
    display: flex;
    align-items: center;
  }

  // header button
  .header-button-action {
    display: flex;
    align-items: center;
  }

  // button
  button.button-code {
    border-radius: $radius24;
  }

  .search-input {
    border-radius: $radius24;
  }
}

h1 {
  margin: 0;
}

footer {
  border-top: 1px solid #d7d7d7;
  margin-top: 64px;

  .copyright {
    margin-top: 24px;
  }
}