- var site_title = 'StyleShed'
- var image_path = '/img'
- var css_path = '/css'
- var js_path = '/js'
- var inc_path = 'include'
- var domain = 'https://example.com/'
- var content = "comingsoon"
- 
  var pages = {
    top: {
      url         : 'index.html',
      name        : 'トップページ',
      title       : 'トップページ',
      description : 'トップページです',
      keywords    : 'トップページ',
    },
    signin: {
      url         : 'signin.html',
      name        : 'ログイン',
      title       : 'ログイン',
      description : 'ログインページです',
      keywords    : 'ログイン',
    },
    code: {
      url         : '',
      name        : 'code',
      title       : 'code',
      description : 'code',
      keywords    : 'code',
    }
  }