- var image_path = '/img'
- var css_path = '/css'
- var js_path = '/js'
- var inc_path = 'include'
- var domain = 'https://example.com/'
- var content = "comingsoon"
- 
  var pages = {
    top : {
      url : 'index.html',
      name : 'トップページ',
      title : 'トップページ',
      description : 'トップページです',
      keywords : 'トップページ',
      image : 'assets/img/ogp.jpg'
    }
  }