extends layout

block vars
  include config
  - var key = "top"
  - var page = pages[key]

block content
  aside
    .sidebar-logo
      a(href="/") #{site_title}
    #sidebar_nav.sidebar-nav
      ul.sidebar-ul
        li.sidebar-li
          a(href="/") Home
        li.sidebar-li
          a(href="/contents/accordion") Accordion
        li.sidebar-li
          a(href="/contents/alert") Alert

  main
    include include/_header
    section.contents
      .contents-header
        - if (header_item)
          h1.page-title #{header_item.page_title}
          p.page-description !{header_item.page_description}
    include include/_footer
