/*******************
 * Import
 *******************/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*******************
 * COLORS
 *******************/
/*******************
 * BASE
 *******************/
/*******************
 * ELEMENTS
 *******************/
.uk-button {
  text-transform: none;
}

a.link-text {
  color: #ACACAC !important;
  text-decoration: none !important;
  transition: 0.2s !important;
}

a.link-text:hover {
  opacity: 0.8 !important;
}

/*******************
 * METHODS
 *******************/
main {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: #31373D;
}

.auth-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.auth-header {
  margin-bottom: 36px;
}

.auth-header h1.site-logo {
  color: #ACACAC;
  margin: 0;
  font-weight: 100;
  letter-spacing: 2px;
}

.auth-header p.page-title {
  color: #7B7D80;
  margin: 0;
  font-weight: 200;
  font-size: 24px;
  letter-spacing: 1px;
}

.auth-body .form-label {
  color: #ACACAC;
}

.auth-body input {
  background: #4b4f54;
  border: none;
  color: #ACACAC;
  padding: 0 20px;
  font-size: 16px;
}

.auth-body input:focus {
  background-color: #4b4f54;
  color: #ACACAC;
}

.auth-body .submit {
  margin-top: 36px;
}

.auth-body button[type=submit] {
  background: #AEA31D;
  color: #FFFFFF;
  margin: 0 auto;
  text-transform: none;
  font-size: 16px;
  transition: 0.2s;
}

.auth-body button[type=submit]:hover {
  opacity: 0.9;
}

.auth-footer hr {
  border-color: #4B535B;
}

a {
  text-decoration: none;
  color: #619ECC;
}

a:hover {
  color: #619ECC;
}

form input[type=text],
form input[type=password],
form button[type=submit] {
  border-radius: 24px;
}

.auth-text-light-grey {
  color: #ACACAC;
}

.auth-text-grey {
  color: #7B7D80;
}
