/*******************
 * Import
 *******************/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*******************
 * COLORS
 *******************/
/*******************
 * BASE
 *******************/
/*******************
 * ELEMENTS
 *******************/
.uk-button {
  text-transform: none;
}

a.link-text {
  color: #ACACAC !important;
  text-decoration: none !important;
  transition: 0.2s !important;
}

a.link-text:hover {
  opacity: 0.8 !important;
}

/*******************
 * METHODS
 *******************/
:root {
  --theme: #000;
  --font: 'Source Sans Pro';
}

/* Scrollbars */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 20px;
}

/* Code Mirror Styles class created on DOM */
.CodeMirror {
  font-size: 14px;
  height: 100%;
  width: 100%;
}

/* Main Part */
.studio {
  font-family: var(--font);
  overflow: hidden;
}

/* Top Bar Section */
/* Editor Wrapper Styles */
.editor {
  width: 100%;
  float: left;
  box-sizing: border-box;
  height: 100%;
  position: relative;
}

#html, #css, #js {
  width: 33%;
}

.editor-title {
  background: #303335;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.col-resizer {
  width: 8px;
  height: 100%;
  background: #4B535B;
  cursor: col-resize;
}

.row-resizer {
  width: 100%;
  height: 10px;
  background: #4B535B;
  cursor: row-resize;
}

/* The Wrapper for the editor wrappers */
.control-room {
  height: calc(50vh - 63px);
  background: #eee;
  overflow: hidden;
  position: relative;
  display: flex;
}

/* Live Preview Wrapper */
.live-room {
  height: calc(50vh - 63px);
  background: #fff;
  position: relative;
}

/* Iframe Live Preview */
.live-room iframe {
  width: 100%;
  height: 100%;
}
