header {
  height: 80px;
  background: #fff;
  padding: 0 64px;
  display: flex;
}

header .header-logo a:hover {
  text-decoration: none;
}

header .header-right-item {
  margin: 0 16px;
  display: flex;
  align-items: center;
}

header .header-button-action {
  display: flex;
  align-items: center;
}

header button.button-code {
  border-radius: 24px;
}

header .search-input {
  border-radius: 24px;
}

h1 {
  margin: 0;
}
