script(src="/codemirror/lib/codemirror.js")
script(src="/codemirror/mode/htmlmixed/htmlmixed.js")
script(src="/codemirror/mode/css/css.js")
script(src="/codemirror/mode/javascript/javascript.js")
script(src="/codemirror/addon/edit/closetag.js")
script(src="/codemirror/mode/xml/xml.js")
script(src="/codemirror/mode/jsx/jsx.js")