footer
  p
    small(class="uk-text-muted") &copy; 2020 hidetoshi.nagayasu
script(type="text/javascript" src="/jquery/jquery.min.js")
script(type="text/javascript" src='https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js')
script(type="text/javascript" src='https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js')
script(type="text/javascript" src=js_path+"/script.js")