header
  .header-right.uk-navbar-right
    .header-action.uk-navbar-nav
      li.header-right-item
        form(action="/search" class="uk-search uk-search-default header-search-form" method="get")
          span.search-icon(uk-search-icon)
          input(class="uk-search-input search-input" type="search" name="keyword" placeholder="Search..." value=keyword)
      li.header-right-item.header-button-action
        button(class="uk-button button-code" onclick="location.href='/code'")
          span.code-icon
            include ../../public/img/pencil_light_grey.svg
          | コードを書く
      li.header-right-item
        - if (user)
          include _user_dropdown
        - else
          a.link-text(href="/auth/signin") ログイン