extends ../layout

block vars
  include ../config
  - var key = "code"
  - var page = pages[key]

block content
  .studio
    .control-room
      #html.editor
      #css.editor
      #js.editor
  .live-room
    iframe(id="live" src="")
