extends ../layout

block vars
  include ../config
  - var key = "Code"
  - var page = pages[key]

block content
  h1= title
  .studio
    .control-room
      #html.editor
  .live-room
    iframe#live(src='')

